
  <% if current_user.like_post?(post) %>
    <span class="follow-button">
      <%= form_for(current_user.likes.find_by(post_id: post.id), html: { method: :delete }) do |f| %>
        <%= hidden_field_tag :post_id, post.id %>
          <span class="submit">
            <%= f.submit 'お気に入り解除', class: 'btn btn-danger' %>
          </span>
      <% end %>
    </span>
  <% else %>
    <span class="follow-button">
      <%= form_for(current_user.likes.build) do |f| %>
        <%= hidden_field_tag :post_id, post.id %>
          <span class="submit">
            <%= f.submit 'お気に入り', class: 'btn btn-warning' %>
          </span>
      <% end %>
    </span>
  <% end %>
  
