<div class="row">
  
  <% users.each do |user| %>
  
    <aside class="col-xs-4">
      <div class="user-profile">
        <div class="icon text-center">
          <img src="
          <%= gravatar_url(user, size: 60) %>
          " alt="" class="img-circle">
        </div>
      </div>
    </aside>
    
    <div class="col-xs-8">
      <div class="user-profile">
        <div class="user-name">
          
          <%= link_to user_path(user) do %>
            <p><%= user.name %></p>
            <span>
              <%= render 'relationships/follow_button' %>
            </span>
          <% end %>
        
        </div>
      </div>
    </div>
  
  <% end %>
  
</div>

  
  
  
  
<%= paginate users %>