<div class="row">
  <aside class="col-xs-4">
    <div class="user-profile">
      <div class="icon text-center">
        <img src="
        <%= gravatar_url(@user, size: 150) %>
        " alt="" class="img-circle">
      </div>
    </div>
  </aside>
  
  <div class="col-xs-8">
    <div class="user-profile">
      <div class="user-name">
        <h1 class="in-name">
          <%= @user.name %>
        </h1>
        <span>
          <%= render 'relationships/follow_button' %>
        </span>
      </div>
    </div>
  </div>
  
  <div class="col-xs-12">
    <ul class="nav nav-tabs nav-justified">
      <li>
        <%= link_to user_path(@user) do %>
          投稿 
          <span class="badge">
            <%= @count_posts %>
          </span> 
        <% end %>
      </li>
      <li>
        <%= link_to followings_user_path(@user) do %>
          フォロー
          <span class="badge">
            <%= @count_followings %>
          </span>
        <% end %>
      </li>
      <li class="
      <%= 'active' if current_page?(followers_user_path(@user)) %>
      ">
        <%= link_to followers_user_path(@user) do %>
          フォロワー
          <span class="badge">
            <%= @count_followers %>
          </span>
        <% end %>
      </li>
      <li>
        <%= link_to likes_user_path(@user) do %>
          お気に入り
          <span class="badge">
            <%= @count_like_posts %>
          </span>
        <% end %>
      </li>
    </ul>
  </div>
  
</div>


  
  <div class="center-border">
    
  </div>
  
  <%= render 'users', users: @followers %>
  