<div class="row">
  <aside class="col-xs-4">
    <div class="user-profile">
      <div class="icon text-center">
        <img src="
        <%= gravatar_url(@user, size: 150) %>
        " alt="" class="img-circle">
      </div>
    </div>
  </aside>
  
  <div class="col-xs-8">
    <div class="user-profile">
      <div class="name text-center">
        <%= @user.name %>
      </div>
    </div>
    <ul class="nav nav-tabs nav-justified">
      <li>
        <%= link_to user_path(@user) do %>
          投稿 
          <span class="badge">
            <%= @count_posts %>
          </span> 
        <% end %>
      </li>
      <li><a href="#">フォロー</a></li>
      <li><a href="#">フォロワー</a></li>
      <li><a href="#">お気に入り</a></li>
    </ul>
    
  <%= render 'posts/posts', posts: @posts %>
    
  </div>
</div>