<% if posts %>

  <div class="row">
    
      <% posts.each do |post| %>
      
        <div class="post">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading text-center">
                <img src="
                <%= post.image %>
                " alt="">
              </div>
              <div class="panel-body">
                <p><%= post.content %></p>
              </div>
            </div>
            
            
            <div class="under-panel">
              <span class="user-link">
                <p>
                  name：<%= link_to post.user.name, user_path(post.user) %>
                </p>
              </span>
              
              <% if logged_in? %>
                <% if current_user == post.user %>
                  <span class="buttons text-right">
                    <%= link_to '削除する', post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger' %>
                  </span>
                <% else %>
                  <span class="buttons text-right">
                    <%= render 'likes/like_button', post: post %>
                  </span>
                <% end %>
              <% end %>
    
            </div>
            
            
            
          </div>
        </div>
        
      <% end %>
    
  </div>
<% end %>
