<% if logged_in? %>

  <div class="row">

  <%= render 'layouts/error_messages', model: @post %>

    <div class="post-in">
      
      <%= form_for(@post) do |f| %>
      
        <div class="form-group">
          <div class="post-text">  
            <%= f.text_area :content, class: 'form-control', row: 15 %>
          </div>
        </div>
        
        <div class="form-group">
          <%= f.label :image, '写真をアップロード' %>
          <%= f.file_field :image %>
        </div>
        
        <%= f.submit '投稿する', class: 'btn btn-info btn-block' %>
      
      <% end %>
    
    </div>
    
  </div>
  
<% end %>